@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #007bff;
    --color-secondary: ##90a4ae;
    --color-accent: #f5a623;
    --color-background: #ffffff;
    --color-text: #333333;

    --color-button-text: #e0e0e0;
    --color-button-primary-bg: #007bff;
    --color-button-primary-bg-hover: #0056b3;

    --color-button-secondary-bg: #90a4ae;
    --color-button-accent-bg: #f5a623;

    --color-button-secondary-bg-hover: #7e8c8d;
    --color-button-accent-bg-hover: #e59400;

    --color-button-disabled: #b0b0b0;
    --color-button-warning: #d9534f;
  }

  [data-theme='dark'] {
    --color-bg: #121212;
    --color-text: #e0e0e0;

    --color-button-secondary-hover: #4e5d6c;
    --color-button-accent-hover: #d68e1d;

    --color-button-primary-hover: #007bff;
    --color-button-disabled: #3a3a3a;
  }
}
