@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-bg));
}

@layer base {
  :root {
    --color-primary: 0 123 255;
    --color-secondary: 144 164 174;
    --color-accent: 245 166 35;
    --color-bg: 255 255 255;
    --color-text: 51 51 51;
    --color-line: 220 220 220;

    --color-button-text: 224 224 224;

    --color-button-primary-bg: 0 123 255;
    --color-button-primary-bg-hover: 0 86 179;
    --color-button-primary-text: 255 255 255;

    --color-button-secondary-bg: 144 164 174;
    --color-button-secondary-bg-hover: 126 140 141;
    --color-button-secondary-text: 255 255 255;

    --color-button-accent-bg: 245 166 35;
    --color-button-accent-bg-hover: 229 148 0;
    --color-button-accent-text: 255 255 255;

    --color-button-disabled: 176 176 176;
    --color-button-disabled-text: 100 100 100;

    --color-button-warning: 217 83 79;
    --color-button-warning-text: 255 255 255;
  }

  [data-theme='dark'] {
    --color-bg: 18 18 18;
    --color-text: 224 224 224;
    --color-line: 100 100 100;

    --color-button-secondary-hover: 78 93 108;
    --color-button-accent-hover: 214 142 29;

    --color-button-primary-hover: 0 123 255;
    --color-button-disabled: 58 58 58;
  }
}
